
.form-control {
    height: calc(2.0em + .75rem + 2px)!important;
    border-radius: 0!important;
}

.custom-select {
    height: calc(2.0em + .75rem + 2px)!important;
    border-radius: 0!important;
}

.payment-box {
    border: 1px solid;
}
